{% extends 'admin/base.html' %}

{% block content %}
<body>
    <h1>Quản lý thông tin Trường học</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-group">
                <label for="id_name">Tên Trường:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_address">Địa chỉ:</label>
                {{ form.address }}
            </div>
            <div class="form-group">
                <label for="id_phone">Số điện thoại:</label>
                {{ form.phone }}
            </div>
            <div class="form-group">
                <label for="id_year_of_establishment">Năm thành lập:</label>
                {{ form.year_of_establishment }}
            </div>
            <div class="form-group">
                <label for="id_head_teacher">Hiệu trưởng:</label>
                {{ form.head_teacher }}
            </div>
            <div class="form-group">
                <label for="id_description">Mô tả:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="id_motto">Châm ngôn:</label>
                {{ form.motto }}
            </div>
            <div class="form-group">
                <label for="id_slogan">Khẩu hiệu:</label>
                {{ form.slogan }}
            </div>

            <button type="submit">Lưu thay đổi</button>
        </div>
    </form>
</body>
{% endblock %}
